<div class="container-fluid spacer">
  <div class="row club-content">
    <%= render "clubs/shared/club_identity" %>
    <div class="col-12 col-lg-9 pt-3">
      <%= render "clubs/shared/club_show_tabs" %>
      <%= render "clubs/shared/club_events_feed" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>