<div class="container-fluid spacer">
    <div class="row">
        <div class="col">
          <h2 class="text-center m-5">En cours de développement</h2>
          <p class="text-center">Ntm le footer casse toi je te grail</p>
        </div>
    </div>
</div>
<%= javascript_pack_tag 'shared/navbar' %>

