// Define variables for your color scheme

// For example:
$isep-jaune: rgba(245, 163, 0, 1);
$isep-bleu: rgba(9, 95, 160, 1);
$isep-gris: rgba(226, 226, 226, 1);
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
