/* Pills
---------------------------*/

.pill-tabs {
	background-color: #fff;
	@extend .z-depth-1;
	border-radius: 2rem;
	padding: .5rem .25rem;

	.tab {
		text-decoration: none;
		background-color: #ffffff;
		border-radius: 2rem;
		cursor: pointer;
		padding: .25rem .5rem;
		transition: background 0.4s linear;
	}

	.tab span {
		font-weight: bold;
		padding: 2rem;
	}

	.tab.active {
		background-color: $isep-jaune;
		color: #fff;
	}
}

.club-banner {
	width: 90%;
	height: 400px;
	overflow: hidden;
	position: relative;
	border-radius: 1rem;

	img {
		position: absolute;
		min-width: 1000%;
		min-height: 1000%;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%) scale(0.1);
		z-index: -1;
	}
}

.club-content {
	padding: .2rem 4rem;

	.club-logo-page {
		margin: 0;
		padding: 1rem;
		border-radius: 28%;
		box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
		background: white;
	}

	.club-name {
		font-weight: 600;
	}

}

.club-feed {
	padding: 0;

	.event-container {
		width: 90%;

		@include media-breakpoint-between(xs, md) {
			width: 97vw;
		}

		@include media-breakpoint-between(md, lg) {
			width: 95vw;
		}
	}
}