<div class="logo-container">
    <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1583065755/unify/logos-clubs/exodus_logo_n0evw9.png", class:"logo logo-bde" %>
    <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1577207040/unify/isep_jvpcyh.png", class:"logo logo-isep" %>
</div>