<div class="logo-container">
    <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1576952901/unify/logos-clubs/genesis580_x5yw1t.png", class:"logo-genesis mr-3" %>
    <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1577207040/unify/isep_jvpcyh.png", class:"logo-isep ml-3" %>
</div>