<div class="logo-container">
    <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1588785283/unify/logos-clubs/log_page_login_u6motc.png", class:"logo logo-bde" %>
    <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1577207040/unify/isep_jvpcyh.png", class:"logo logo-isep" %>
</div>