<div class="logo-container">
    <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1577281751/unify/512x512bb_rrfz2x.jpg", class:"logo logo-genesis" %>
    <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1577207040/unify/isep_jvpcyh.png", class:"logo logo-isep" %>
</div>