<div class="pill-tabs club-show-tab">
  <%= link_to user_path(@user), class:"tab #{'active' if current_page?(user_path(@user))}" do %>
    <span>Mes associations</span>
  <% end %>
  <%= link_to user_events_path(@user), class:"tab #{'active' if current_page?(user_events_path(@user))}" do %>
    <span>Mes événements</span>
  <% end %>
</div>
