.club-content {
    padding: 0.2rem 2rem;

    #club-header {
        margin-top: 20px;

        .club-logo-wrapper {
            border: none;

            .club-name {
                font-weight: 600;
                font-size: 1rem;
            }
        }

        .club-desc {
            margin: 0;
            margin-top: 2rem;
            font-size: 0.9em;
            opacity: 1;
            padding: 0.5rem;
        }

        .club-controls {
            margin-top: 2rem;
        }
    }
}

@include media-breakpoint-between(xs, lg) {
    .club-content {
        padding: 0.12rem 0.75rem;

        #club-header {
            width: 90%;

            .club-desc {
                padding: 0 0.5rem;
            }
        }
    }
}
