<% if @club.banner_image.nil? || @club.banner_image == "" %>
   <div class="banner" style="width: 100vw; background-image: url(https://hackernoon.com/hn-images/1*lEyU2zS2TBaOl_fbXqPChA.png); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
<% else %>
    <div class="banner" style="background-image: url(<%= @club.banner_image %>);"></div>
<% end %>
