<div class="club-buttons">
    <%= link_to "S'abonner", "#", class:"btn btn-primary subscribe-button" %>
    <% if @club.applications_open? %>
        <%= link_to "Candidater", club_apply_path(@club), class:"btn btn-primary apply-button" %>
    <% else %>
        <p class="apply-button">Candidatures fermées pour l'instant</p>
    <% end %>
</div>