<%= link_to new_club_event_path(@club), class:"button-effect-2 mb-3" do %>
  <button>Ajouter un événement</button>
<% end %>
<%= link_to edit_club_path(@club), class:"button-effect-2" do %>
  <button>Modifier la page</button>
<% end %>