<%= link_to @club.website_url, target:"_blank" do %>
    <div class="button-effect-3 button-effect-3-extended website">
        <i class="fas fa-link"></i>
        <span>Site web</span>
    </div>
<% end %>
<%= link_to @club.instagram_url, target:"_blank" do %>
    <div class="button-effect-3 button-effect-3-extended instagram">
        <i class="fab fa-instagram"></i>
        <span>Instagram</span>
    </div>
<% end %>
<%= link_to @club.linkedin_url, target:"_blank" do %>
    <div class="button-effect-3 button-effect-3-extended linkedin">
        <i class="fab fa-linkedin"></i>
        <span>Linkedin</span>
    </div>
<% end %>