<%= link_to @club.website_url, target:"_blank" do %>
    <div class="button-effect-3 website">
        <i class="fas fa-external-link-alt"></i>
    </div>
<% end %>
<%= link_to @club.instagram_url, target:"_blank" do %>
    <div class="button-effect-3 instagram">
        <i class="fab fa-instagram"></i>
    </div>
<% end %>
<%= link_to @club.linkedin_url, target:"_blank" do %>
    <div class="button-effect-3 linkedin">
        <i class="fab fa-linkedin"></i>
    </div>
<% end %>