<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-md-3">
        <h6>Contactez-nous</h6>
        <ul class="footer-links">
          <li><a href="">Contactez le BDE</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>À propos</h6>
        <ul class="footer-links">
          <li><a href="">ISEP</a></li>
          <li><a href="">Développeurs</a></li>
          <li><a href="">Signaler un bug</a></li>
          <li><a href="">Donner un feedback sur la plateforme</a></li>
          <li><a href="">Proposer une idée de fonctionnalité</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2019 Tous droits réservés par
          <a href="#">Exodus</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
  </div>
</footer>
