<footer class="footer bg-primary border-top">
  <div class="container d-flex justify-content-center align-items-center">

    <div class="container d-flex justify-content-between">
      <%= link_to "A propos", about_path, class: "mr-3 text-align" %>
      <a href="https://www.marmiton.org/recettes/recette_cookies-maison_86989.aspx" target="_blank" class="ml-3 mr-3 text-align">Cookies</a>
      <a href="https://www.isep.fr/" target="_blank" class="ml-3 text-align">ISEP</a>
      <%= link_to "Exodus BDE", club_bde_path(Club.find_by("name ILIKE ?", "EXODUS BDE")), class: "ml-3 mr-3 text-align" %>
    </div>

   
    <%= link_to root_path, class: "ml-5 mr-5" do %>
      <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1583080472/unify/unify-logo-test_extqor.png", size: "30" %>
    <% end %>

    <div class="container d-flex justify-content-between">
      <a href="https://github.com/juliencol/unify" target="_blank" class="mr-3 text-center">Code source</a>
      <a href="https://www.messenger.com/t/julien.colombain" target="_blank" class="ml-3 mr-3 text-center">Contribuer</a>
      <a href="https://www.messenger.com/t/julien.colombain" target="_blank" class="ml-3 mr-3 text-center">Signaler un bug</a>
      <a href="https://www.messenger.com/t/julien.colombain" target="_blank" class="ml-3 text-center">Donnez un feedback</a>
    </div>
    
  </div>
</footer>
