<footer class="footer bg-primary border-top">
  <div class="row align-items-center">

    <div class="col-5 d-flex flex-column flex-md-row justify-content-around align-items-end">
      <%= link_to "A propos", about_path, class: "text-align" %>
      <a href="https://www.marmiton.org/recettes/recette_cookies-maison_86989.aspx" target="_blank" class="text-align">Cookies</a>
      <a href="https://www.isep.fr/" target="_blank" class="text-align">ISEP</a>
      <%= link_to "Exodus BDE", club_bde_path(@bde), class: "text-align" %>
    </div>

   <div class="col-2 text-center">
      <%= link_to root_path, class: "unify-logo" do %>
        <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1583080472/unify/unify-logo-test_extqor.png", size: "30" %>
      <% end %>
    </div>

    <div class="col-5 d-flex flex-column flex-md-row justify-content-around align-items-start">
      <a href="https://github.com/juliencol/unify" target="_blank" class="text-center">Code source</a>
      <a href="https://www.messenger.com/t/julien.colombain" target="_blank" class="text-center">Contribuer</a>
      <a href="mailto:unifyisep@gmail.com" target="_blank" class="text-center">Signaler un bug</a>
      <a href="mailto:unifyisep@gmail.com" target="_blank" class="text-center">Contacter le BDE</a>
    </div>
    
  </div>
</footer>
