<a href="#" class="scrollToTop">
    <button>
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
    </button>
</a>

<%= javascript_pack_tag 'shared/scrolltop' %>