.club-content {

	.club-identity {

		ul {
			display: flex;
			flex-direction: column;

			a {
				color: black;
			}
		}
	}

	.club-feed {}

	.club-buttons {

		.subscribe-button {
			width: 75%;
			margin: 16px;
		}

		.apply-button {
			width: 75%;
			margin: 16px;
		}
	}
}