<div class="container-fluid spacer">
    <div class="row">
        <div class="col d-flex flex-column mr-5 ml-5">
            <h1 class="mt-5 text-center">Le Projet Unify</h1>
            <div>
                <h3>Pourquoi ?</h3>
                <p class="">Unifyisep est une plateforme ayant pour but de gérer l’organisation des événements de la vie associative dans l’isep. Elle permet donc de mettre en avant toutes les associations avec leurs membres, une description et la liste des leurs anciens et futurs événements. Ainsi, chaque association peut créer un événement en indiquant les informations qui le composent (nom, thème, date, heure, lieu, prix, etc.). Chaque étudiant peut à son tour consulter toutes les associations et tous les événements proposées, en filtrant par thèmes ou par association. Nous aimerions que cette plateforme se transmettent chaque année de BDE en BDE, afin d’avoir d’améliorer l’organisation de la vie associative, aussi bien pour les membres d’associations que pour les étudiants non membres d’associations qui participent aux événements isépiens. 
                </p>
            </div>
            <div>
                <h3>Avantages</h3>
                    <ul>
                    <li>Mise en avant des associations isépiennes (événements, membres, projets, partenaires)</li>
                    <li>Communication interne efficace au sein de l'Isep</li>
                </ul>
            </div>
            <div>
                <h3>Fonctionnalités actuelles</h3>
                <ul>
                    <li>Création d'événements</li>
                    <li>Filtrage par associations et thèmes</li>
                    <li>Inscription aux événements</li>
                    <li>Participation à des jeux concours</li>
                </ul>
            </div>
            <div>
                <h3>Fonctionnalités futures</h3>
                <ul>
                    <li>Gestion des associations</li>
                    <li>Gestion des recrutements</li>
                    <li>Challenges d'intégrations des familles étudiantes</li>
                    <li>Alumnis des associations étudiantes</li>
                </ul>
            </div>
            <div>
                <h3>Cette semaine</h3>
                <p>Accès réservés à Exodus pendant la semaine de campagne</p>
            </div>
            <div>
                <h3>Contributeurs</h3>
                <ul>
                    <li>Julien Colombain</li>
                    <li>Maëlle Jumel</li>
                    <li>Tom Sanitas</li>
                    <li>Andrew Pourret</li>
                </ul>
            </div>

            <div> 
                <%= link_to "Code source", "#" %>
                <%= link_to "Contribuer", "#" %>
            </div>


            <%= link_to "Comment utiliser unify pour mon association ?", getting_started_path %>
        </div>
    </div>
</div>