<div class="container-fluid spacer">
    <div class="row">
        <div class="col">
            <h1 class="mt-5 text-center">A propos</h1>
            <p class="text-center">Ecrire ici une description du projet</p>
        </div>
    </div>
</div>