<div class="container-fluid spacer">
    <div class="row about-page">
        <div class="col">
            <div class="row about-logo">
                <div class="col">
                    <h1 class="text-center">Le Projet Unify</h1>
                </div>
                <div class="col">
                    <img src="https://res.cloudinary.com/isep/image/upload/v1583080472/unify/unify-logo-test_extqor.png"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <h3>Pourquoi ?</h3>
                    <p>Unifyisep est une plateforme ayant pour but de gérer l’organisation des événements de la vie associative dans l’isep. Elle permet donc de mettre en avant toutes les associations avec leurs membres, une description et la liste des leurs anciens et futurs événements. Ainsi, chaque association peut créer un événement en indiquant les informations qui le composent (nom, thème, date, heure, lieu, prix, etc.). Chaque étudiant peut à son tour consulter toutes les associations et tous les événements proposées, en filtrant par thèmes ou par association. Nous aimerions que cette plateforme se transmettent chaque année de BDE en BDE, afin d’avoir d’améliorer l’organisation de la vie associative, aussi bien pour les membres d’associations que pour les étudiants non membres d’associations qui participent aux événements isépiens. 
                    </p>
                </div>
            </div>
            <div class="row about-function">
                <div class="col-12 col-md-4 offset-md-2">
                    <h3>Fonctionnalités actuelles</h3>
                    <ul>
                        <li>Création d'événements</li>
                        <li>Filtrage par associations et thèmes</li>
                        <li>Inscription aux événements</li>
                        <li>Participation à des jeux concours</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <h3>Fonctionnalités futures</h3>
                    <ul>
                        <li>Gestion des associations</li>
                        <li>Gestion des recrutements</li>
                        <li>Challenges d'intégrations des familles étudiantes</li>
                        <li>Alumnis des associations étudiantes</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <h3>Créateurs</h3>
                    <div class="about-creators">
                        <div class="creator">
                            <img src="https://res.cloudinary.com/isep/image/upload/v1588711824/otqdzrtosgivgwdwllnd.png" alt="Julien Colombain"/>
                            <span>
                                <h4>Julien Colombain</h4>
                                <p>Backend</p>
                                <a href="https://www.instagram.com/juliencolombain/" target="_blank">
                                    <i class="fab fa-instagram"></i>    
                                </a>
                            </span>
                        </div>
                        <div class="creator">
                            <img src="https://res.cloudinary.com/isep/image/upload/v1588760472/bzfzodao9xevje5t8b9f.png" alt="Maëlle Jumel"/>
                            <span>
                                <h4>Maëlle Jumel</h4>
                                <p>Frontend</p>
                                <a href="https://www.instagram.com/jml.mae/" target="_blank">
                                    <i class="fab fa-instagram"></i>    
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row about-links">
                <div class="col-12 col-md-4 offset-md-2">
                    <h3>Contributeurs</h3>
                    <ul>
                        <li>Tom Sanitas</li>
                        <li>Andrew Pourret</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 d-flex flex-column">
                    <h3>Liens</h3>
                    <%= link_to "https://github.com/juliencol/unify", target:"_blank" do %>
                        <i class="fab fa-github"></i><span>Code source</span>
                    <% end %>
                    <%= link_to "https://www.messenger.com/t/julien.colombain", target:"_blank" do %>
                        <i class="fas fa-code-branch"></i><span>Contribuer</span>
                    <% end %>
                    <%= link_to getting_started_path do %>
                        <i class="fas fa-question"></i><span>Utiliser Unify pour mon association</span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>