<div class="container-fluid spacer">
    <div class="row">
        <div class="col">
            <h1 class="mt-5 text-center">Le Projet Unify</h1>
            <h3>Pourquoi ?</h3>
            <p class="">Unify est la plateforme de l'isep</p>
            <h3>Aujourd'hui</h3>
            <p class="">Décrire ici les fonctionnalités actuelles</p>
            <h3>Demain</h3>
            <p class="">Décrire ici les fonctionnalités futures</p>
            <h3>Cette semaine</h3>
            <p class="">Décrire ici </p>
            <h3>Contributeurs</h3>

            <%= link_to "Comment utiliser unify pour mon association ?", getting_started_path %>
        </div>
    </div>
</div>