<div class="container-fluid spacer">
    <div class="row">
        <div class="col">
            <h1 class="mt-5 text-center">Mettre en avant mon association sur unify</h1>
            <p class="mt-5 text-center">Les fonctionnalités liées aux associations étant fermées pendant la semaine de campagne, cette page sera mise à jour plus tard afin de permettre aux associations de découvrir les différentes fonctionnalités de la plateforme.</p>
        </div>
    </div>
</div>