<div class="container-fluid spacer">
    <div class="row error-pages unacceptable">
        <div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-6 d-flex justify-content-center">
            <img src="https://cdn.clipart.email/db2306badb4a58d7f8104d2dc9ddbfd0_frustrated-no-way-sticker-by-studios-sticker-for-ios-android-giphy_3049-3200.gif"/>
        </div>
        <div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-6 d-flex flex-column justify-content-center align-items-center align-items-lg-start">
            <h1>422</h1>
            <h2>Jimmy te dit que tu ne peux pas passer.</h2>
        </div>
    </div>
</div>