<div class="container-fluid spacer">
    <div class="row error-pages internal-error">
        <div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-6 d-flex justify-content-center">
            <img src="https://res.cloudinary.com/isep/image/upload/v1588869722/unify/error-pages/500_rcwmyn.png"/>
        </div>
        <div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-6 d-flex flex-column justify-content-center align-items-center align-items-lg-start">
            <h1>500</h1>
            <h2>Oups, Julien a encore cassé le site.</h2>
        </div>
    </div>
</div>