.card {
    border: none;

    &.card-image {
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .card-data {
        background-color: $primary;
        color: #fff;
        text-align: center;
        height: auto;
        padding: 10px;
        ul {
            margin-bottom: 0;
            font-size: 0.9rem;
            li {
                display: inline;
                .fa-clock-o {
                    margin-left: 10px;
                }
            }
            a {
                color: #fff;
                .fa {
                    margin-left: 5px;
                    margin-right: 3px;
                }
            }
        }
    }
    &.card-dark {
        .activator {
            @extend .text-white;
        }
        .card-body {
            background-color: $secondary;
            @extend .text-white;
            hr {
                background-color: #666;
            }
            a {
                @extend .text-white;
            }
        }
    } // Cascading cards
    &.card-cascade {
        width: 100%;
        .view {
            @extend .z-depth-2;
            border-radius: 4px;
            &.gradient-card-header {
                padding: 1.6rem 1rem;
                text-align: center;
                @extend .text-white;
                h2 {
                    font-weight: 400;
                }
                .btn-floating {
                    background-color: rgba(255, 255, 255, .2);
                }
            }
        }
        &.narrower {
            margin-top: 20px;
            .view {
                margin-left: 4%;
                margin-right: 4%;
                margin-top: -20px;
            }
        }
        &.wider {
            background-color: transparent;
            @extend .z-depth-0;
            .view {
                z-index: 2;
            }
            .card-body {
                margin-left: 4%;
                margin-right: 4%;
                @extend .z-depth-1;
                background: #fff;
                z-index: 1;
                border-radius: 0 0 0.3rem 0.3rem;
            }
            &.reverse {
                .view {
                    //@extend .z-depth-1;
                }
                .card-body {
                    z-index: 3;
                    margin-top: -1rem;
                    border-radius: 4px;
                    @extend .z-depth-1-half;
                }
            }
        }
        &.card-avatar {
            margin-top: 6rem;
            text-align: center;
            img {
                margin-top: -5rem;
                margin-left: auto;
                margin-right: auto;
                width: 160px;
                border-radius: 50%;
                @extend .z-depth-1-half;
            }
        }
        .card-body {
            padding-top: 1.8rem;
        }
    } // activator
    .activator {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        margin-right: 10px;
        font-size: 1.2rem;
        @extend .text-dark;
    } // review card
    .rating {
        color: #ffa000;
    }
    .btn-action {
        margin: -23px 20px;
        margin-left: auto;
        background-color: $secondary;
        height: 47px;
        width: 47px;
        line-height: 0;
        .fa {
            font-size: 18px;
            &.fa-chevron-right {
                margin-top: 2px;
                margin-left: 2px;
            }
        }
    }
    .card-reveal {
        position: absolute;
        width: 100%;
        overflow-y: auto;
        top: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        padding: 1rem;
        .card-title {
            cursor: pointer;
            i {
                color: #9e9e9e;
                position: absolute;
                right: 10px;
            }
        }
        .content {
            position: relative;
            h4 {
                margin-top: 20px;
                margin-bottom: 15px;
            }
            h5 {
                margin-top: 30px;
            }
        }
    }
    &.ovf-hidden {
        overflow: hidden;
    }
}
