html {
    height: 100vh;
}

body {
    height: 100vh;
}

// Our SCSS variables
@import "custom";

// External libraries
@import "bootstrap/scss/bootstrap";

// Our CSS partials
@import "components/index";
@import "users/index";
@import "clubs/index";
@import "events/index";

.spacer {
    margin-top: 75px !important;
    margin-bottom: 20px;
    @include media-breakpoint-between(xs, sm) {
        overflow: hidden;
    }
}
