/* -------------------------------
   HTML Structure needed for this effect:

    <div class="banner">
		<img src="<%= @event.image %>"/>
	</div>
   ------------------------------- */

.banner {
	width: 95%;
	height: 250px;
	overflow: hidden;
	position: relative;
	border-radius: 12px;

	@include media-breakpoint-between(xs, lg) {
		width: 100%;
		//margin: 0 auto;
	}

	img {
		position: absolute;
		min-width: 1000%;
		min-height: 1000%;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%) scale(0.1);
		z-index: -1;
	}
}