/* Disable bootstrap style */
.unset-button {
    all: unset;
}

/* Effect 1: arrow color reveal */
/* -------------------------------
   HTML Structure needed for this effect:

    <button class="button-effect-1"></button>
   ------------------------------- */

.button-effect-1 {
    all: unset;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.4rem 1.5rem;
    border-radius: 1rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    @include transition(all 0.3s ease-out);
    box-shadow: -1px 2px 10px rgba($accent-blue, 0.2), 1px 2px 10px rgba($accent-purple, 0.2);

    &:hover {
        transform: translateY(-2px);
        box-shadow: -1px 4px 20px rgba($accent-blue, 0.1), 1px 4px 20px rgba($accent-purple, 0.1);
    }

    &:active,
    &:focus {
        transform: translateY(1px);
        outline: none;
    }
}

/* Effect 2: blue pill */
/* -------------------------------
   HTML Structure needed for this effect:

    <%= link_to ..., class:"button-effect-2" do %>
        <button>...</button>
    <% end %>
   ------------------------------- */

.button-effect-2 {
    color: white !important;

    button {
        all: unset;
        background: linear-gradient(to bottom right, $accent-purple 0%, $accent-blue 100%);
        padding: 0.2rem 0.75rem;
        border-radius: 0.9rem;
        box-shadow: 0 0px 1.7px rgba($accent-purple, 0.023), 0 0px 4px rgba($accent-purple, 0.038),
            0 0px 7.5px rgba($accent-purple, 0.047), 0 0px 13.4px rgba($accent-purple, 0.054),
            0 0px 25.1px rgba($accent-purple, 0.066), 0 0px 60px rgba($accent-purple, 0.12);

        &.big {
            font-size: 1rem;
        }
    }
}

/* Effect 3: social links */
/* -------------------------------
   HTML Structure needed for this effect:

    <%= link_to ... do %>
        <div class="button-effect-3 ...">
            <i class="fas fa-..."></i>
        </div>
    <% end %>
   ------------------------------- */

$sites: (
    "website": $accent-yellow,
    "instagram": #c13584,
    "facebook": #4267b2,
    "linkedin": #007bb6,
    "twitter": #1ba1f1,
    "snapchat": #fffc00,
    "discord": #7289da,
);

.animate {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.btn__active {
    &:before {
        top: -10%;
        left: -10%;
        background-color: black;
    }

    svg {
        color: #fff !important;
        transform: scale(1);
    }

    span {
        opacity: 1;
        transform: scale(1);
    }
}

.btn__inactive {
    &:before {
        top: 90%;
        left: -110%;
    }

    svg {
        transform: scale(0.8);
    }

    // variants
    @each $name, $color in $sites {
        &.#{$name} {
            &:before {
                background-color: $color;
            }

            svg {
                color: $color;
            }
        }
    }
}

.button-effect-3 {
    margin: auto;

    div {
        @extend .btn__inactive;
        @extend .animate;
        background-color: #fff;
        width: 75px;
        height: 75px;
        line-height: 80px;
        text-align: center;
        position: relative;
        overflow: hidden !important;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
        //overflow bug fix
        opacity: 0.99;

        &:before {
            @extend .animate;
            content: "";
            width: 120%;
            height: 120%;
            position: absolute;
            transform: rotate(45deg);
        }

        svg {
            @extend .animate;
            font-size: 1.8rem;
            font-weight: 100;
        }

        span {
            @extend .animate;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            color: white !important;
            font-size: 1rem;
            font-weight: 500;
        }

        &:focus,
        &:hover,
        &:active {
            @extend .btn__active;
        }

        @include media-breakpoint-between(xs, md) {
            width: 54px;
            height: 54px;
            line-height: 54px;
            font-size: 20px;
        }

        @include media-breakpoint-between(md, lg) {
            width: 65px;
            height: 65px;
            line-height: 65px;
            font-size: 25px;
        }
    }
}

/* Effect 4: Background expanding on hover */
/* ------------------------------------------
   HTML Structure needed for this effect
    <a class="button-effect-4">
        <span>...</span>
        <i class="fas ..."></i>
    </a>
   --------------------------------------- */
$color4: $accent-blue;

.button-effect-4 {
    all: unset;
    cursor: pointer;
    position: relative;
    padding: 19px 22px;
    @include transition(all 0.45s cubic-bezier(0.65, 0, 0.076, 1));
    text-decoration: none !important;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 28px;
        background: rgba($color4, 0.5);
        width: 56px;
        height: 56px;
        @include transition(all 0.45s cubic-bezier(0.65, 0, 0.076, 1));
    }

    span {
        position: relative;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        vertical-align: middle;
    }

    svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
    }

    &:hover {
        color: white !important;

        &:before {
            width: 100%;
            background: rgba($color4, 1);
        }

        svg {
            color: white;
            @include transition(all 0.45s ease);
        }
    }

    &:active {
        transform: scale(0.96);
    }

    @include media-breakpoint-between(xs, md) {
        span {
            font-size: 13px;
        }
    }

    @include media-breakpoint-between(md, lg) {
        span {
            font-size: 15px;
        }
    }
}

/* Effect 5: Gradient changing on hover */
/* ------------------------------------------
   HTML Structure needed for this effect
    <%= f.button :button, "Envoyer", type: :submit, class:"button-effect-5", "data-content"=>"Envoyer" %>
   --------------------------------------- */

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.button-effect-5 {
    position: relative;
    background: linear-gradient(to bottom right, $accent-purple 0%, $accent-blue 100%);
    padding: 0.2rem 0.75rem;
    border-radius: 0.9rem;
    color: white;
    z-index: 2;
    @include transition(0.2s ease);

    &:after {
        content: "";
        @extend .button-effect-5;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        animation: pulse 1.2s ease infinite;
    }

    &:hover,
    &:active,
    &:focus {
        color: white;
        transform: translateY(2px);
    }

    &:active {
        transform: translateY(3px);
    }
}
