/* Contest
---------------------------------------------------------------------- */

// contest container
//-------------------------
.contest-container {
    @extend .z-depth-1;
    border-radius: 12px;
    text-align: center;
    margin: 0 20px 20px 0;
    background: linear-gradient(to left, #6a11cb 0%, #2575fc 100%) left bottom #ffffff no-repeat;
    background-size: 100% 6px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;

    @include media-breakpoint-between(xs, md) {
        margin: 0;
    }
}

// contest header
//-------------------------
.contest-header {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    color: black;
    text-align: center;

    h5 {
        margin: 0 auto;
        padding: 0;
        padding-top: 0.5em;
    }
}

// contest body
//-------------------------
.contest-body {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;

    .banner {
        flex: 1;
        z-index: 2;
        height: 100%;
    }

    table {
        flex: 1;
        font-size: 0.8rem;

        .countdown {
            font-size: 1rem;
            font-weight: 800;
        }

        td {
            padding: 0 0.2rem;
        }
    }
}

// contest footer
//-------------------------
.contest-footer {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    p {
        margin: 0;
        img {
            width: 20px;
            border-radius: 50%;
        }
    }
}
