/* Events
---------------------------------------------------------------------- */

// event container
//-------------------------
.event-container {
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.06);
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;
    background:
        /* gradient can be an image */
        linear-gradient(to left,
            #6a11cb 0%,
            #2575fc 100%) left bottom #ffffff no-repeat;
    background-size: 100% 6px;

    @media screen and (min-width: 480px) {
        width: 28rem;
    }

    @media screen and (min-width: 767px) {
        width: 40rem;
    }

    @media screen and (min-width: 959px) {
        width: 50rem;
    }
}

.event-container a {
    color: $isep-bleu;
    text-decoration: none;
    transition: .25s ease;

    &:hover {
        border-color: $isep-jaune;
        color: $isep-jaune;
    }
}

// event header
//-------------------------
.event-cover {
    background-size: contain !important;
    background-position: center !important;
    border-radius: 1rem;
    height: 350px;

    @include media-breakpoint-between(xs, sm) {
        height: 150px;
    }

    @include media-breakpoint-between(sm, md) {
        height: 200px;
    }
}

// event body
//-------------------------
.event-body {
    margin: 0 auto;
    width: 80%;

    .event-title {
        margin: .75rem 0;

        h2 a {
            color: #333;
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                color: $accent-blue;
            }
        }
    }

    .event-author {
        padding: .75rem 0;
        display: flex;

        .event-author-logo {

            img {
                background-size: cover;
                height: 32px;
                width: 32px;
                margin-right: 1rem;
                position: relative;
                filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .2));
            }
        }

        h3 {
            color: $accent-blue;
            font-size: 1.1rem;
            font-weight: 300;
            margin: 0;
            line-height: 32px;
        }
    }

    .event-summary p {
        color: lighten(black, 60%);
        font-weight: 200 !important;
    }

}

// event footer
//-------------------------
.event-footer {
    border-top: 1px solid lighten(#333, 70%);
    margin: 0 auto;
    padding: .75rem 5rem;
    width: 100%;

    @include media-breakpoint-between(xs, sm) {
        padding: .75rem 2rem;
    }

    @include media-breakpoint-between(sm, md) {
        padding: .75rem 3rem;
    }


    ul {
        list-style: none;
        display: flex;
        flex: row wrap;
        justify-content: flex-end;
        padding-left: 0;

        li:first-child {
            margin-right: auto;
        }

        li+li {
            margin-left: .5rem;
        }

        li {
            color: lighten(#333, 40%);
            font-size: 1rem;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            white-space: nowrap;
        }
    }

    .price,
    .participants {
        margin-right: 1rem;
    }

    .event-date {
        background: $accent-background;
        color: lighten(black, 40%);
        border-radius: .5rem;
        padding: .25rem .75rem;

        span {
            font-weight: 600;
            color: black;
        }
    }

    // Icons
    //-------------------------
    .icon-euro,
    .icon-user {
        height: 18px;
        width: 18px;
        margin-right: .5rem;
    }

}