.footer {
	margin-top: 3rem;
	padding: 2rem 0 2rem 0;
	font-size: 12px;
	color: silver;
	background-color: #F2F2F7 !important;

}

@media (max-width: 991px) {
	.footer {
		margin: 0;

		.main-container {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			.left-container .right-container {

				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}
		}
		
		.unify-logo {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.footer {
		margin: 0;

		.main-container {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			.left-container .right-container {

				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}
		}
		
		.unify-logo {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.footer {
		margin: 0;

		.main-container .left-container .right-container {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			

			.left-container .right-container {
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}
		}
		
		.unify-logo {
			display: none;
		}
	}
}
