.club-content {
    padding: .2rem 2rem;

    #club-header {
        position: sticky;
        top: 120px;
        left: 0;
        z-index: 4;
        margin: auto;
        margin-top: 20px;

        .club-logo-wrapper {
            border: none;

            .club-logo-page {
                width: 70px;
                filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .2));
            }

            .club-name {
                font-weight: 600;
                font-size: 1rem;
            }
        }

        .club-desc {
            margin: 0;
            margin-top: 2rem;
            font-size: .8rem;
            opacity: 1;
            padding: .5rem;
        }

        .club-controls {
            margin-top: 2rem;
        }
    }

}

@include media-breakpoint-between(xs, lg) {
    .club-content {
        padding: .12rem .75rem;

        #club-header {
            width: 90%;

            .club-desc {
                padding: 0 .5rem;
            }
        }
    }
}