.marker {
    background-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-pack-flat-s94-1/64/Basic_UI_Icon_Pack_-_Flat_map_pointer-512.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.map-wrapper {
    width: 90% !important;
    min-height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
