.navbar {
	transition: filter ease 0.5s;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;

	.navbar-brand img {
		margin-right: 10px;
		border-radius: 28%;
	}

	.navbar-toggler {
		border: none;
		float: right;
		border: none;
		padding-right: 0;

		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
		}

		.navbar-toggler-icon {
			width: 24px;
			height: 17px;
			background-image: none;
			position: relative;
			border-bottom: 1px solid #000;
			transition: all 300ms linear;

			&:after,
			&:before {
				width: 24px;
				position: absolute;
				height: 1px;
				background-color: #000;
				top: 0;
				left: 0;
				content: '';
				z-index: 2;
				transition: all 300ms linear;
			}

			&:after {
				top: 8px;
			}
		}

		&[aria-expanded="true"] .navbar-toggler-icon:after {
			transform: rotate(45deg);
		}

		&[aria-expanded="true"] .navbar-toggler-icon:before {
			transform: translateY(8px) rotate(-45deg);
		}

		&[aria-expanded="true"] .navbar-toggler-icon {
			border-color: transparent;
		}
	}

	.nav-link {
		color: #212121 !important;
		font-weight: 500;
		transition: all 200ms linear;
		position: relative;
		display: inline-block;
	}

	.nav-item {
		position: relative;
		transition: all 200ms linear;

		&:after {
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 2px;
			content: '';
			background-color: $accent-blue;
			opacity: 0;
			transition: all 200ms linear;
		}

		&:hover {
			.nav-link {
				color: $accent-blue !important;
			}

			&:after {
				bottom: 0;
				opacity: 1;

				@include media-breakpoint-between(xs, lg) {
					opacity: 0;
				}
			}
		}

		@include media-breakpoint-between(xs, lg) {
			&:active {
				.nav-link {
					color: $accent-blue !important;
				}
			}
		}

		&.active {
			.nav-link {
				color: #777 !important;
			}

			&:hover:after {
				opacity: 0;
			}
		}

		.dropdown-menu {
			transform: translate3d(0, 10px, 0);
			visibility: hidden;
			opacity: 0;
			max-height: 0;
			display: block;
			padding: 10px !important;
			margin: 0;
			font-size: 13px;
			letter-spacing: 1px;
			color: #212121;
			background-color: #fcfaff;
			border: none;
			border-radius: 3px;
			box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
			transition: all 200ms linear;

			.dropdown-item {
				padding: 3px 15px;
				color: #212121;
				border-radius: 2px;
				transition: all 200ms linear;

				&:hover,
				&:focus {
					color: #fff;
					background-color: $accent-blue;
				}
			}
		}

		&.show .dropdown-menu {
			opacity: 1;
			visibility: visible;
			max-height: 999px;
			transform: translate3d(0, 0px, 0);
		}

		.dropdown-toggle::after {
			display: none;
		}

	}

	#search-form {
		width: 25vw;
		transition: width ease 0.5s;
		background: rgb(238, 238, 238);
		border-radius: 1em;

		@include media-breakpoint-between(xs, lg) {
			width: 220px;

			svg {
				font-size: 11px;
			}
		}

		svg {
			font-size: 22px;
			padding-left: 10px;
		}

		.search_name {
			width: 90%;
			margin: 0 !important;

			#search_name {
				width: 100% !important;
				border: none;
				background: transparent;
				box-shadow: none;

				&::placeholder {
					font-size: 0.9rem;

					@include media-breakpoint-between(xs, md) {
						font-size: 0.8rem;
					}
				}

				&:focus {
					outline: none !important;
					box-shadow: none;
					border: none;
				}
			}
		}
	}
}

@include media-breakpoint-between(xs, lg) {
	.spacer {
		transition: filter .4s;
	}

	.spacer.out {
		overflow: hidden;
		filter: blur(.5rem);
	}

	.side-collapse {
		position: fixed;
		top: 60px;
		bottom: 0;
		right: 0;
		width: 250px;
		overflow: hidden;
		background: white;
		padding: .5rem 0 0 1rem;
		transition: right .4s;
		font-size: 13px;
		letter-spacing: 1px;
		color: #212121;
		background-color: #fcfaff;
		border: none;

		.nav-item {
			padding: 3px 15px;
			color: #212121;
			border-radius: 2px;
			transition: all 200ms linear;

			&:hover,
			&:focus {
				color: #fff;
				background-color: $accent-blue;
			}
		}
	}

	.side-collapse.in {
		right: -250px;
	}
}