.pill-tabs {
    position: sticky;
    z-index: 10;
    top: 85px;
    width: fit-content;
    margin: 0 auto;
    background-color: white;
    @extend .z-depth-1;
    border-radius: 2rem;
    padding: 0.5rem 0.25rem;

    .tab {
        text-decoration: none;
        background-color: white;
        border-radius: 2rem;
        cursor: pointer;
        padding: 0.25rem 0.5rem;

        span {
            color: black;
            padding: 2rem;
        }

        &.active {
            background: $accent-background;

            span {
                color: $accent-blue;
                font-weight: bold;
            }
        }
    }
}

@include media-breakpoint-between(xs, sm) {
    .pill-tabs {
        display: flex;
        position: static;
        max-width: 80vw;
        overflow-x: scroll;
        font-size: 0.9em;

        .tab {
            span {
                padding: 0.5rem;
            }

            &:first-child {
                margin-left: auto;
            }

            &:last-child {
                margin-right: auto;
            }
        }
    }
}
