.pill-tabs {
    position: sticky;
    z-index: 10;
    top: 85px;
    width: fit-content;
    margin: 0 auto;
    background-color: white;
    @extend .z-depth-1;
    border-radius: 2rem;
    padding: .5rem .25rem;

    .tab {
        text-decoration: none;
        background-color: white;
        border-radius: 2rem;
        cursor: pointer;
        padding: .25rem .5rem;

        span {
            color: black;
            font-weight: bold;
            padding: 2rem;
        }

        &.active {
            background: $accent-background;

            span {
                color: $accent-blue;
            }
        }
    }
}

@include media-breakpoint-between(xs, sm) {
    .pill-tabs {
        font-size: .65rem;
        padding: .5rem .2rem;

        .tab {
            padding: .25rem .2rem;

            span {
                padding: .5rem;
            }
        }
    }
}