.pill-tabs {
    position: sticky;
    z-index: 10;
    top: 85px;
    width: fit-content;
    margin: 0 auto;
    background-color: white;
    @extend .z-depth-1;
    border-radius: 2rem;
    padding: 0.5rem 0.25rem;

    .tab {
        text-decoration: none;
        background-color: white;
        border-radius: 2rem;
        cursor: pointer;
        padding: 0.25rem 0.5rem;

        span {
            color: black;
            font-weight: bold;
            padding: 2rem;
        }

        &.active {
            background: $accent-background;

            span {
                color: $accent-blue;
            }
        }
    }
}

@include media-breakpoint-between(xs, sm) {
    .pill-tabs {
        display: inline-flex;
        position: static;
        width: 80vw;
        overflow-x: scroll;
        font-size: 0.9em;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;

        .tab {
            border-radius: 0;
            padding: 0.5rem 0.2rem;
            background-color: transparent;

            span {
                padding: 0.5rem;
                font-weight: normal;
            }

            &.active {
                background: transparent;
                border-bottom: 2px solid $accent-blue;

                span {
                    color: $accent-blue;
                    font-weight: bold;
                }
            }
        }
    }
}
