.white-wrapper {
    background: white;
    padding: .75rem;
    border-radius: 12px;
    @extend .z-depth-1;

    h3 {
        padding: .25rem .125rem;
        font-size: 1.2rem;
        color: #999;
        font-weight: 300;
    }
}