.footer {
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: AliceBlue;
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #737373;

	.text-row {
		display: flex;
		justify-content: flex-end;
		text-align: right;
	}

	hr {
		border-top-color: #bbb;
		opacity: 0.5;

		&.small {
			margin: 20px 0;
		}
	}

	h6 {
		color: #000;
		font-size: 16px;
		text-transform: uppercase;
		margin-top: 5px;
		letter-spacing: 2px;
	}

	.footer-links {
		padding-left: 0;
		list-style: none;

		li {
			display: block;
		}

		a {
			color: DarkGray;

			&:active,
			&:focus,
			&:hover {
				color: MediumBlue;
				text-decoration: none;
			}
		}

		&.inline li {
			display: inline-block;
		}
	}

	a {
		color: DarkGray;

		&:hover {
			color: MediumBlue;
			text-decoration: none;
		}
	}

	.social-icons {
		text-align: right;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;

		li {
			display: inline-block;
			margin-bottom: 4px;
		}

		a {
			background-color: DarkGray;
			color: Gainsboro;
			font-size: 16px;
			display: inline-block;
			line-height: 44px;
			width: 44px;
			height: 44px;
			text-align: center;
			margin-right: 8px;
			border-radius: 100%;
			-webkit-transition: all .2s linear;
			-o-transition: all .2s linear;
			transition: all 0.2s linear;
		}

		&.size-sm a {
			line-height: 34px;
			height: 34px;
			width: 34px;
			font-size: 14px;
		}

		a {
			&.instagram:hover {
				background-color: #c13584;
				color: #fff;
			}

			&.twitter:hover {
				background-color: #00aced;
				color: #fff;
			}

			&.linkedin:hover {
				background-color: #007bb6;
				color: #fff;
			}
		}
	}

	.copyright-text {
		margin: 0;
	}
}

@media (max-width: 991px) {
	.site-footer [class^=col-] {
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.footer {
		padding-bottom: 0;

		.copyright-text,
		.social-icons {
			text-align: center;
		}
	}
}

@media (max-width: 767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600;
	}
}
