.navbar-unify {
	justify-content: space-between;
	background: transparent;

 .navbar-collapse {
		flex-grow: 0;
	}

	.navbar-brand img {
		margin-right: 10px;
		border-radius: 50%;
	}
}

#search-bar {
	width: 30vw;
}
