.navbar {
	transition: filter ease 0.5s;

	.navbar-brand img {
		margin-right: 10px;
		border-radius: 50%;
	}

	.navbar-toggler {
		border: none;

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	#search-form {
		width: 25vw;
		transition: width ease 0.5s;

		@include media-breakpoint-between(xs, md) {
			width: 90vw;
		}

		.search_name {
			width: 100%;

			#search_name {
				width: 100% !important;
				border-radius: .6em;
				border: none;
				background: rgb(226, 226, 226);

				&::placeholder {
					font-size: 0.9rem;

					@include media-breakpoint-between(xs, md) {
						font-size: 0.8rem;
					}
				}

				&:focus {
					outline: none !important;
				}
			}
		}
	}

	.navbar-nav {

		#search-form {
			width: 30vw !important;
		}
	}
}