.navbar-lewagon {
	justify-content: space-between;
	background: white;
}

.navbar-lewagon .navbar-collapse {
	flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
	width: 60px;
}

#search-bar {
	width: 30vw;
}

.notifications-icon {
	font-size: 28px;
	margin-right: 20px;
}
