.user-row {
  padding-top: 20px;

  .left-group {
    min-height: 60vh;

    .biography {
      h2 {
        text-align: center;
      }

      p {
        color: #333;
        font-size: .9rem;
      }
    }
  }

}