<p>Salut <%= @email.split('.')[0].capitalize %> !</p>

<p>Il semblerait que tu souhaites changer ton mot de passe. Tu peux le faire en cliquant juste <%= link_to 'ici', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>A très vite !</p>
<br>
<p><strong>Julien Colombain</strong></p>
<p>Responsable technique d'Exodus</p>
