/* Carousel
---------------------------------------------------------------------- */
#carouselEvents {
	width: 100vw;
	height: 600px;
	margin: 0;

	@include media-breakpoint-between(xs, sm) {
		height: 200px;
	}

	@include media-breakpoint-between(sm, md) {
		height: 400px;
	}
}

.carousel-control-down {
	@extend .carousel-control-next;
	top: auto;
	flex-direction: column;
	width: 100vw;
	height: 20%;
	cursor: pointer;
	font-size: 25px;

	svg {
		display: inline-block;
		width: 40px;
		height: 40px;
		color: white;
	}
}

.force-full-width {
	margin-left: -15px;
}

/* Sidebar
---------------------------------------------------------------------- */

#main-content {
	.col-lg-2 {
		padding: 0 !important;
		padding-right: 10px;
	}
}

.sidebar {
	will-change: min-height;
}

.sidebar__left,
.sidebar__right {
	width: 100%;
	padding-top: 1rem;
	transform: translate(0, 0);
	/* For browsers don't support translate3d. */
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

// mobile
//-------------------------
.mobile-filters {
	z-index: 100;
	position: fixed;
	top: 50px;
	left: 200%;
	@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

	.toggle-filters {
		all: unset;
		position: fixed;
		bottom: 10px;
		right: 10px;
		width: 46px;
		height: 46px;
		line-height: 46px;
		font-size: 18px;
		text-align: center;
		background: white;
		border-radius: 50%;
		box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
		@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

		&:active {
			color: $isep-jaune;
			transform: translateY(2px);
		}
	}

	&.filters-shown {
		left: 20%;
		max-height: 100%;
		overflow-y: scroll;

		.toggle-filters {
			right: 82%;
		}

		@include media-breakpoint-between(md, lg) {
			left: 50%;

			.toggle-filters {
				right: 52%;
			}
		}
	}
}


/* Controls
---------------------------------------------------------------------- */

.check-wrap {
	width: 90%;
	background: white;
	border-radius: 12px;
	padding: .75rem .2rem;
	position: relative;
	overflow: hidden;
	@extend .z-depth-1;
	@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

	&:after {
		content: '';
		height: 120%;
		width: 0%;
		top: -10%;
		right: -10%;
		border-radius: 28%;
		background: $isep-bleu;
		position: absolute;
		@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));
	}

	h6 {
		z-index: 2;
		font-weight: 400 !important;
	}

	&.checked {

		h6 {
			color: white !important;
		}

		&:after {
			width: 120%;
			border-radius: 0;

		}
	}
}

.check {
	all: unset;
	z-index: 2;
	cursor: pointer;
	position: relative;
	width: 18px;
	height: 18px;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);

	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: -15px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: rgba(#223254, .03);
		opacity: 0;
		transition: opacity .2s ease;
	}

	svg {
		position: relative;
		z-index: 1;
		fill: none;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke: #c8ccd4;
		stroke-width: 1.5;
		transform: translate3d(0, 0, 0);
		transition: all .2s ease;

		path {
			stroke-dasharray: 60;
			stroke-dashoffset: 0;
		}

		polyline {
			stroke-dasharray: 22;
			stroke-dashoffset: 66;
		}
	}

	&:hover {
		&:before {
			opacity: 1;
		}

		svg {
			stroke: $isep-jaune;
		}
	}
}

.check.mixitup-control-active {

	svg {
		stroke: $isep-jaune;

		path {
			stroke-dashoffset: 60;
			transition: all .3s linear;
		}

		polyline {
			stroke-dashoffset: 42;
			transition: all .2s linear;
			transition-delay: .15s;
		}
	}
}

.check:focus {
	outline: none;
}

@import "show";