/* Carousel
---------------------------------------------------------------------- */
#carouselEvents {
	width: 100vw;
	height: 600px;
	margin: 0;

	@include media-breakpoint-between(xs, sm) {
		height: 200px;
	}

	@include media-breakpoint-between(sm, md) {
		height: 400px;
	}
}

.carousel-control-down {
	@extend .carousel-control-next;
	top: auto;
	flex-direction: column;
	width: 100vw;
	height: 20%;
	cursor: pointer;
	font-size: 25px;

	svg {
		display: inline-block;
		width: 40px;
		height: 40px;
		color: white;
	}
}

.force-full-width {
	margin-left: -15px;
}

/* Sidebar
---------------------------------------------------------------------- */

.sidebar {
	flex-grow: 1;

	.sidebar__left,
	.sidebar__right {
		position: sticky;
		top: 120px;
		overflow-y: scroll;
		width: 80%;
		height: 80vh;
		padding-top: 2rem;
		margin: 0 auto;
		background: white;
		border: 1px solid $accent-background;
		border-radius: .5rem;
		box-shadow:
			0 2.7px 6.5px rgba(0, 0, 0, 0.05),
			0 7.5px 11.4px rgba(0, 0, 0, 0.018),
			0 18.1px 21.2px rgba(0, 0, 0, 0.008),
			0 60px 52px rgba(0, 0, 0, 0.003);

		h3 {
			font-size: 1.2rem;
		}
	}
}

// mobile
//-------------------------
.mobile-filters {
	z-index: 100;
	position: fixed;
	top: 64px;
	left: 200%;
	background: $accent-background;
	@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

	.toggle-filters {
		all: unset;
		position: fixed;
		bottom: 10px;
		right: 10px;
		width: 46px;
		height: 46px;
		line-height: 46px;
		font-size: 18px;
		text-align: center;
		background: $accent-background;
		border-radius: 50%;
		box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
		@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

		&:active {
			color: $isep-jaune;
			transform: translateY(2px);
		}
	}

	&.filters-shown {
		left: 20%;
		max-height: 100%;
		overflow-y: scroll;

		.toggle-filters {
			right: 82%;
		}

		@include media-breakpoint-between(md, lg) {
			left: 50%;

			.toggle-filters {
				right: 52%;
			}
		}
	}
}


/* Controls
---------------------------------------------------------------------- */

.check-wrap {
	width: 100%;
	padding: 1.1rem .2rem;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid $accent-background;

	h6 {
		z-index: 2;
		font-weight: 400 !important;
		margin: 0;
	}

	&.checked {

		background:
			/* gradient can be an image */
			linear-gradient(to bottom,
				$accent-purple 0%,
				$accent-yellow 100%) left bottom rgba($accent-yellow, .05) no-repeat;
		background-size: 4px 100%;
	}
}

.check {
	all: unset;
	z-index: 2;
	cursor: pointer;
	position: relative;
	width: 18px;
	height: 18px;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);

	&:before {
		content: "";
		position: absolute;
		top: -8px;
		left: -12px;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background: rgba($accent-background, .3);
		opacity: 0;
		transition: opacity .2s ease;
	}

	svg {
		position: relative;
		z-index: 1;
		fill: none;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke: #c8ccd4;
		stroke-width: 1.5;
		transform: translate3d(0, 0, 0);
		transition: all .2s ease;

		path {
			stroke-dasharray: 60;
			stroke-dashoffset: 0;
		}

		polyline {
			stroke-dasharray: 22;
			stroke-dashoffset: 66;
		}
	}

	&:hover {
		&:before {
			opacity: 1;
		}

		svg {
			stroke: $isep-jaune;
		}
	}
}

.check.mixitup-control-active {

	svg {
		stroke: $isep-jaune;

		path {
			stroke-dashoffset: 60;
			transition: all .3s linear;
		}

		polyline {
			stroke-dashoffset: 42;
			transition: all .2s linear;
			transition-delay: .15s;
		}
	}
}

.check:focus {
	outline: none;
}

@import "show";