/* Carousel
---------------------------------------------------------------------- */
#carouselEvents {
	width: 100vw;
	height: 600px;
	margin: 0;

	@include media-breakpoint-between(xs, sm) {
		height: 200px;
	}

	@include media-breakpoint-between(sm, md) {
		height: 400px;
	}
}

.carousel-control-down {
	@extend .carousel-control-next;
	top: auto;
	flex-direction: column;
	width: 100vw;
	height: 20%;
	cursor: pointer;
	font-size: 25px;

	svg {
		display: inline-block;
		width: 40px;
		height: 40px;
		color: white;
	}
}

.force-full-width {
	margin-left: -15px;
}

/* Events
---------------------------------------------------------------------- */

// event container
//-------------------------
.event-container {
	@extend .z-depth-2;
	flex-direction: column;
	background: #fff;
	border-radius: 5px;
	font-weight: 100;
	margin: 48px auto;
	width: 20rem;

	@media screen and (min-width: 480px) {
		width: 28rem;
	}

	@media screen and (min-width: 767px) {
		width: 40rem;
	}

	@media screen and (min-width: 959px) {
		width: 50rem;
	}
}

.event-container a {
	color: $isep-bleu;
	text-decoration: none;
	transition: .25s ease;

	&:hover {
		border-color: $isep-jaune;
		color: $isep-jaune;
	}
}

// event header
//-------------------------
.event-cover {
	background-size: contain !important;
	background-position: center !important;
	border-radius: 5px 5px 0 0;
	height: 350px;
	box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;

	@include media-breakpoint-between(xs, sm) {
		height: 150px;
	}

	@include media-breakpoint-between(sm, md) {
		height: 200px;
	}
}

.event-author {
	margin: 0 auto;
	padding-top: .75rem;
	width: 80%;
	display: flex;

	.event-author-logo {

		img {
			background-size: cover;
			border-radius: 50%;
			height: 32px;
			margin-right: .5rem;
			position: relative;
			width: 32px;
		}
	}

	h3 {
		color: #fff;
		font-weight: 300;
	}
}

// event body
//-------------------------
.event-body {
	margin: 0 auto;
	width: 80%;

	.event-title {
		margin: .5rem 0;

		h2 a {
			color: #333;
			font-weight: 600;
			text-transform: uppercase;

			&:hover {
				color: $isep-jaune;
			}
		}
	}

	.event-summary p {
		color: lighten(#333, 10%);
		font-weight: 200 !important;
	}

	.event-tags {
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			list-style: none;
			padding-left: 0;
		}

		li+li {
			margin-left: .5rem;
		}

		a {
			background: lighten($isep-jaune, 50%);
			border-radius: 3px;
			color: $isep-jaune;
			font-size: .75rem;
			height: 1.5rem;
			line-height: 1.5rem;
			letter-spacing: 1px;
			padding: .25rem .75rem;
			text-align: center;
			text-transform: uppercase;
			white-space: nowrap;
			width: 5rem;
		}
	}
}

// event footer
//-------------------------
.event-footer {
	border-top: 1px solid lighten(#333, 70%);
	margin: 0 auto;
	padding: .5rem 0;
	width: 80%;


	ul {
		list-style: none;
		display: flex;
		flex: row wrap;
		justify-content: flex-end;
		padding-left: 0;

		li:first-child {
			margin-right: auto;
		}

		li+li {
			margin-left: .5rem;
		}

		li {
			color: lighten(#333, 40%);
			font-size: 1rem;
			height: 1.5rem;
			letter-spacing: 1px;
			line-height: 1.5rem;
			text-align: center;
			text-transform: uppercase;
			position: relative;
			white-space: nowrap;
		}
	}

	.comments {
		margin-right: 1rem;
	}

	.event-date {
		border: 1px solid lighten(#333, 40%);
		border-radius: 3px;
		padding: 0 .5rem;
	}

	.numero {
		position: relative;
		top: -0.1rem;
	}

	// Icons
	//-------------------------
	.icon-euro,
	.icon-user {
		color: $isep-jaune;
		height: 18px;
		margin-right: .5rem;
		width: 18px;
	}

}

/* Sidebar
---------------------------------------------------------------------- */

#main-content {
	.col-lg-2 {
		padding: 0 !important;
		padding-right: 10px;
	}
}

.sidebar {
	will-change: min-height;
}

.sidebar__left,
.sidebar__right {
	width: 100%;
	padding-top: 1rem;
	transform: translate(0, 0);
	/* For browsers don't support translate3d. */
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

// mobile
//-------------------------
.mobile-filters {
	z-index: 100;
	position: fixed;
	top: 50px;
	left: 200%;
	@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

	.toggle-filters {
		all: unset;
		position: fixed;
		bottom: 10px;
		right: 10px;
		width: 46px;
		height: 46px;
		line-height: 46px;
		font-size: 18px;
		text-align: center;
		background: white;
		border-radius: 50%;
		box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
		@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

		&:active {
			color: $isep-jaune;
			transform: translateY(2px);
		}
	}

	&.filters-shown {
		left: 20%;
		max-height: 100%;
		overflow-y: scroll;

		.toggle-filters {
			right: 82%;
		}

		@include media-breakpoint-between(md, lg) {
			left: 50%;

			.toggle-filters {
				right: 52%;
			}
		}
	}
}


/* Controls
---------------------------------------------------------------------- */

.check-wrap {
	width: 90%;
	background: white;
	border-radius: 12px;
	padding: .75rem .2rem;
	position: relative;
	overflow: hidden;
	@extend .z-depth-1;
	@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

	&:after {
		content: '';
		height: 120%;
		width: 0%;
		top: -10%;
		right: -10%;
		border-radius: 28%;
		background: $isep-bleu;
		position: absolute;
		@include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));
	}

	h6 {
		z-index: 2;
		font-weight: 400 !important;
	}

	&.checked {

		h6 {
			color: white !important;
		}

		&:after {
			width: 120%;
			border-radius: 0;

		}
	}
}

.check {
	all: unset;
	z-index: 2;
	cursor: pointer;
	position: relative;
	width: 18px;
	height: 18px;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);

	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: -15px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: rgba(#223254, .03);
		opacity: 0;
		transition: opacity .2s ease;
	}

	svg {
		position: relative;
		z-index: 1;
		fill: none;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke: #c8ccd4;
		stroke-width: 1.5;
		transform: translate3d(0, 0, 0);
		transition: all .2s ease;

		path {
			stroke-dasharray: 60;
			stroke-dashoffset: 0;
		}

		polyline {
			stroke-dasharray: 22;
			stroke-dashoffset: 66;
		}
	}

	&:hover {
		&:before {
			opacity: 1;
		}

		svg {
			stroke: $isep-jaune;
		}
	}
}

.check.mixitup-control-active {

	svg {
		stroke: $isep-jaune;

		path {
			stroke-dashoffset: 60;
			transition: all .3s linear;
		}

		polyline {
			stroke-dashoffset: 42;
			transition: all .2s linear;
			transition-delay: .15s;
		}
	}
}

.check:focus {
	outline: none;
}

@import "show";